@model IEnumerable<Book_store_MVC_.Models.Publication>

@{
    ViewData["Title"] = "Index";
}

<style>

    .padding1 {
        padding-top: 15em;
    }
</style>
<div class="padding1"></div>
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Books_Copies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Books_Copies)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publisher.Publisher_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Tittle)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
